.idea/
2019-12-08/solucion/target
/2019-12-15/primes-crypt/target
/2020-01-05/poker-rust/target
/2020-01-26/capicuas/target
/2020-02-09/contando-capicuas/target
/2020-02-09/buscando-capicuas/target
/2020-09-02/dns-server/target
.DS_Store
